

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>时间线</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <style>
  /* 这段样式只是用于演示 */
  #LAY-component-timeline .layui-card-body{padding: 15px;}
  </style>

  <div class="layui-fluid" id="LAY-component-timeline">

    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label" style="width: auto">请选择开设的课题</label>
            <div class="layui-input-inline">
              <select name="selectSubject" id="selectSubject" lay-verify="required" lay-filter="chooseSubject">
                <script id="selectMode" type="text/html">
                  <option selected="selected" value="">点击下拉选择</option>
                  {{# layui.each(d.subjectList, function(index, item) { }}
                  <option value='{{ item.subjectId }}'>{{ item.subjectName}}</option>
                  {{# }); }}
                </script>
              </select>
            </div>
          </div>

          <div class="layui-inline">
            <label class="layui-form-label" style="width: auto">请选择课题小组</label>
            <div class="layui-input-inline">
              <select name="selectGroup" id="selectGroup" lay-verify="required" lay-filter="chooseGroup">
                <script id="selectMode2" type="text/html">
                  <option selected="selected" value="">点击下拉选择</option>
                  {{# layui.each(d.groupList, function(index, item) { }}
                  <option value='{{ item.gid }}'>{{ item.groupName }}</option>
                  {{# }); }}
                </script>
              </select>
            </div>
          </div>

          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
              <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
            </button>
          </div>
        </div>
      </div>



    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">任务时间线（按时间先后）</div>
          <div class="layui-card-body">

            <ul class="layui-timeline">

              <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                  <div class="layui-timeline-title">项目开始</div>
                </div>
              </li>

              <div id="dyn">
                <li class="layui-timeline-item">
                  <i class="layui-icon layui-timeline-axis"></i>
                  <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">任务时间点：2020-04-23&nbsp&nbsp&nbsp</h3>
                    <ul>
                      <li><p><span class="layui-badge layui-bg-orange">任务名称</span><span style="font-size: 13px; font-weight: bold; ">&nbsp&nbsp&nbsp登录界面设计</span>&nbsp&nbsp&nbsp&nbsp&nbsp<span class="layui-badge layui-bg-lightgreen">已完成</span>
                      </p></li>

                      <li><p><span class="layui-badge layui-bg-cyan">创建人员</span><span style="font-size: 13px; font-weight: bold">&nbsp&nbsp&nbsp黄继升</span>
                      </p></li>

                      <li><p><span class="layui-badge layui-bg-blue">任务说明</span><span style="font-size: 13px; font-weight: bold">&nbsp&nbsp&nbsp设计登录界面，支持系统账号（学号+密码）登录，并且支持github账号密码认证登录</span>
                      </p></li>

                      <li><p><span class="layui-badge">截止时间</span><span style="font-size: 13px; font-weight: bold">&nbsp&nbsp&nbsp2020-04-18 17:00:00</span>
                      </p></li>

                      <li><p><span class="layui-badge layui-bg-green">分配成员</span><span style="font-size: 13px; font-weight: bold">&nbsp&nbsp&nbsp陈奕迅 刘德华 周润发</span>
                      </p></li>

                    </ul>
                  </div>
                </li>
              </div>

              <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis"></i>
                <div class="layui-timeline-content layui-text">
                  <div class="layui-timeline-title">项目结题</div>
                </div>
              </li>
            </ul> 
          
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="../../../static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../../../static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'time']);
  </script>
</body>
</html>