<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.ClassMemberMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.ClassMember" >
    <id column="class_member_id" property="classMemberId" jdbcType="INTEGER" />
    <result column="class_id" property="classId" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="INTEGER" />
    <result column="accept" property="accept" jdbcType="BIT"/>
  </resultMap>

  <sql id="Base_Column_List" >
    class_member_id, class_id, student_id
  </sql>


  <select id="findAllClassMember" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class_member
  </select>


  <select id="findClassMemberByClassId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from class_member
    where class_id = #{classId, jdbcType=INTEGER}
  </select>


  <select id="findClassMemberByStudentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from class_member
    where student_id = #{studentId, jdbcType=INTEGER}
  </select>



  <select id="findClassMemberByClassMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from class_member
    where class_member_id = #{classMemberId,jdbcType=INTEGER}
  </select>


  <delete id="deleteClassMemberByClassMemberId" parameterType="java.lang.Integer" >
    delete from class_member
    where class_member_id = #{classMemberId,jdbcType=INTEGER}
  </delete>



  <insert id="insertClassMember" parameterType="com.hjs.system.model.ClassMember" useGeneratedKeys="true" keyColumn="class_member_id" keyProperty="classMemberId">
    insert into class_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="classMemberId != null" >
        class_member_id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="accept != null" >
        accept,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="classMemberId != null" >
        #{classMemberId,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="accept != null" >
        #{accept,jdbcType=BIT},
      </if>
    </trim>
  </insert>


  <update id="updateClassMember" parameterType="com.hjs.system.model.ClassMember" >
    update class_member
    <set >
      <if test="classId != null" >
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="accept != null" >
        accept = #{accept,jdbcType=BIT},
      </if>
    </set>
    where class_member_id = #{classMemberId,jdbcType=INTEGER}
  </update>


</mapper>