<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.Course" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    cid, course_name
  </sql>

  <select id="findCourseByCid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where cid = #{cid,jdbcType=INTEGER}
  </select>


  <delete id="deleteCourseByCid" parameterType="java.lang.Integer" >
    delete from course
    where cid = #{cid,jdbcType=INTEGER}
  </delete>


  <insert id="insertCourse" parameterType="com.hjs.system.model.Course" useGeneratedKeys="true" keyColumn="cid" keyProperty="cid">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        cid,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateCourse" parameterType="com.hjs.system.model.Course" >
    update course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>


</mapper>