<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.GroupMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.Group" >
    <id column="gid" property="gid" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
    <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
    <result column="oauth_token" property="oauthToken" jdbcType="VARCHAR" />
    <result column="state_id" property="stateId" jdbcType="INTEGER" />
    <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
    <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
  </resultMap>


  <sql id="Base_Column_List" >
    gid, group_name, repository_url, oauth_token, state_id, owner_id, subject_id
  </sql>


  <select id="findAllGroup" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from group
  </select>


  <select id="findGroupByStateId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from group
    where state_id = #{stateId,jdbcType=INTEGER}
  </select>


  <select id="findGroupByOwnerId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from group
    where owner_id = #{ownerId,jdbcType=INTEGER}
  </select>


  <select id="findGroupBySubjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from group
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </select>


  <select id="findGroupByGid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from group
    where gid = #{gid,jdbcType=INTEGER}
  </select>


  <delete id="deleteGroupByGid" parameterType="java.lang.Integer" >
    delete from group
    where gid = #{gid,jdbcType=INTEGER}
  </delete>



  <insert id="insertGroup" parameterType="com.hjs.system.model.Group" useGeneratedKeys="true" keyColumn="gid" keyProperty="gid">
    insert into group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        gid,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
      <if test="repositoryUrl != null" >
        repository_url,
      </if>
      <if test="oauthToken != null" >
        oauth_token,
      </if>
      <if test="stateId != null" >
        state_id,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="subjectId != null" >
        subject_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gid != null" >
        #{gid,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUrl != null" >
        #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="oauthToken != null" >
        #{oauthToken,jdbcType=VARCHAR},
      </if>
      <if test="stateId != null" >
        #{stateId,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateGroup" parameterType="com.hjs.system.model.Group" >
    update group
    <set >
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="repositoryUrl != null" >
        repository_url = #{repositoryUrl,jdbcType=VARCHAR},
      </if>
      <if test="oauthToken != null" >
        oauth_token = #{oauthToken,jdbcType=VARCHAR},
      </if>
      <if test="stateId != null" >
        state_id = #{stateId,jdbcType=INTEGER},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=INTEGER},
      </if>
      <if test="subjectId != null" >
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
    </set>
    where gid = #{gid,jdbcType=INTEGER}
  </update>


</mapper>