<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.GroupMemberMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.GroupMember" >
    <id column="group_member_id" property="groupMemberId" jdbcType="INTEGER" />
    <!--<result column="group_id" property="groupId" jdbcType="INTEGER" />-->
    <!--<result column="student_id" property="studentId" jdbcType="INTEGER" />-->

    <association property="student" column="student_id" javaType="com.hjs.system.model.Student">
      <id column="sid" property="sid" jdbcType="INTEGER" />
      <result column="student_id" property="studentId" jdbcType="VARCHAR" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
      <result column="mobile" property="mobile" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="pic_img" property="picImg" jdbcType="VARCHAR" />
      <result column="class_id" property="classId" jdbcType="INTEGER" />
      <result column="github_name" property="githubName" jdbcType="VARCHAR" />
      <result column="open_id" property="openId" jdbcType="VARCHAR" />
    </association>


    <association property="group" column="group_id" javaType="com.hjs.system.model.Group">
      <id column="gid" property="gid" jdbcType="INTEGER" />
      <result column="group_name" property="groupName" jdbcType="VARCHAR" />
      <result column="repository_url" property="repositoryUrl" jdbcType="VARCHAR" />
      <result column="oauth_token" property="oauthToken" jdbcType="VARCHAR" />
      <result column="state_id" property="stateId" jdbcType="INTEGER" />
      <result column="owner_id" property="ownerId" jdbcType="INTEGER" />
      <result column="subject_id" property="subjectId" jdbcType="INTEGER" />
    </association>


  </resultMap>


  <sql id="Base_Column_List" >
    group_member_id, group_id, student_id
  </sql>


  <select id="findAllGroupMember" resultMap="BaseResultMap">
    select * from group_member g left join student s on g.student_id = s.sid left join `group` p on g.group_id = p.gid
  </select>


  <select id="findGroupMemberByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from group_member g left join student s on g.student_id = s.sid left join `group` p on g.group_id = p.gid where group_id = #{groupId,jdbcType=INTEGER}
  </select>


  <select id="findGroupMemberByStudentId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from group_member g left join student s on g.student_id = s.sid left join `group` p on g.group_id = p.gid where g.student_id = #{studentId,jdbcType=INTEGER}
  </select>


  <select id="findGroupMemberByGroupMemberId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from group_member g left join student s on g.student_id = s.sid left join `group` p on g.group_id = p.gid where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </select>


  <delete id="deleteGroupMemberByGroupMemberId" parameterType="java.lang.Integer" >
    delete from group_member where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </delete>



  <insert id="insertGroupMember" parameterType="com.hjs.system.model.GroupMember" useGeneratedKeys="true" keyColumn="group_member_id" keyProperty="groupMemberId">
    insert into group_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="groupMemberId != null" >
        group_member_id,
      </if>
      <if test="group.gid != null" >
        group_id,
      </if>
      <if test="student.sid != null" >
        student_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="groupMemberId != null" >
        #{groupMemberId,jdbcType=INTEGER},
      </if>
      <if test="group.gid != null" >
        #{group.gid,jdbcType=INTEGER},
      </if>
      <if test="student.sid != null" >
        #{student.sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateGroupMember" parameterType="com.hjs.system.model.GroupMember" >
    update group_member
    <set >
      <if test="group.gid != null" >
        group_id = #{group.gid,jdbcType=INTEGER},
      </if>
      <if test="student.sid != null" >
        student_id = #{student.sid,jdbcType=INTEGER},
      </if>
    </set>
    where group_member_id = #{groupMemberId,jdbcType=INTEGER}
  </update>


</mapper>