<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.NoticeMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.Notice" >
    <id column="nid" property="nid" jdbcType="INTEGER" />
    <result column="topic" property="topic" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <result column="author_id" property="authorId" jdbcType="INTEGER" />
  </resultMap>


  <sql id="Base_Column_List" >
    nid, topic, detail, create_time, type_id, author_id
  </sql>


  <select id="findNoticeByAuthorId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from notice
    where author_id = #{authorId,jdbcType=INTEGER}
  </select>


  <select id="findNoticeByTypeId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from notice
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>


  <select id="findAllNotice" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from notice
  </select>


  <select id="findNoticeByNid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from notice
    where nid = #{nid,jdbcType=INTEGER}
  </select>


  <delete id="deleteNoticeByNid" parameterType="java.lang.Integer" >
    delete from notice
    where nid = #{nid,jdbcType=INTEGER}
  </delete>


  <insert id="insertNotice" parameterType="com.hjs.system.model.Notice" useGeneratedKeys="true" keyColumn="nid" keyProperty="nid">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        nid,
      </if>
      <if test="topic != null" >
        topic,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="nid != null" >
        #{nid,jdbcType=INTEGER},
      </if>
      <if test="topic != null" >
        #{topic,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateNotice" parameterType="com.hjs.system.model.Notice" >
    update notice
    <set >
      <if test="topic != null" >
        topic = #{topic,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=INTEGER},
    </if>
    </set>
    where nid = #{nid,jdbcType=INTEGER}
  </update>


</mapper>