<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjs.system.mapper.SubjectMapper" >
  <resultMap id="BaseResultMap" type="com.hjs.system.model.Subject" >
    <id column="subject_id" property="subjectId" jdbcType="INTEGER" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="subject_name" property="subjectName" jdbcType="VARCHAR" />
    <result column="subject_detail" property="subjectDetail" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>


  <sql id="Base_Column_List" >
    subject_id, tid, subject_name, subject_detail, remark
  </sql>


  <select id="findAllSubject" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from subject
  </select>


  <select id="findSubjectByTid" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from subject
    where tid = #{tid,jdbcType=INTEGER}
  </select>


  <select id="findSubjectBySubjectId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from subject
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </select>


  <delete id="deleteSubjectBySubjectId" parameterType="java.lang.Integer" >
    delete from subject
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </delete>


  <insert id="insertSubject" parameterType="com.hjs.system.model.Subject" useGeneratedKeys="true" keyColumn="subject_id" keyProperty="subjectId">
    insert into subject
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="subjectId != null" >
        subject_id,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="subjectName != null" >
        subject_name,
      </if>
      <if test="subjectDetail != null" >
        subject_detail,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="subjectId != null" >
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="subjectDetail != null" >
        #{subjectDetail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateSubject" parameterType="com.hjs.system.model.Subject" >
    update subject
    <set >
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="subjectName != null" >
        subject_name = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="subjectDetail != null" >
        subject_detail = #{subjectDetail,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where subject_id = #{subjectId,jdbcType=INTEGER}
  </update>


</mapper>