<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>基于springboot的创新实践课程管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../static/layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../static/layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../static/layuiadmin/style/login.css" media="all">
</head>
<body>


  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>账号绑定</h2>
        <p>基于springboot的创新实践课程管理系统</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-teacherId"></label>
          <input type="text" name="teacherId" id="LAY-user-login-teacherId" lay-verify="required" placeholder="教师工号" class="layui-input">
        </div>

        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-realName"></label>
          <input type="text" name="realName" id="LAY-user-login-realName" lay-verify="required" placeholder="真实姓名" class="layui-input">
        </div>

        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="输入密码" class="layui-input">
        </div>

        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认密码" class="layui-input">
        </div>

        <div class="layui-form-item">
          <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked>
        </div>

        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">绑 定</button>
        </div>

      </div>
    </div>
    
    <div class="layui-trans layadmin-user-login-footer">

      <p>© 2020 杭州电子科技大学 计算机学院 <a href="https://github.com/hjs557523" target="_blank">16041321 黄继升</a></p>
      <p>
        <span><a href="https://github.com/hjs557523" target="_blank">github</a></span>
        <span><a href="https://blog.csdn.net/qq_42173065" target="_blank">csdn</a></span>
      </p>
    </div>

  </div>

  <script src="../static/layuiadmin/layui/layui.js"></script>
  <script>
  layui.config({
    base: '../static/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'user'], function(){
    var $ = layui.$
    ,setter = layui.setter
    ,admin = layui.admin
    ,form = layui.form
    ,router = layui.router();

    form.render();

    //提交
    form.on('submit(LAY-user-reg-submit)', function(obj){
      var field = obj.field;
      
      //确认密码
      if(field.password !== field.repass){
        return layer.msg('两次密码输入不一致');
      }
      
      //是否同意用户协议
      if(!field.agreement){
        return layer.msg('您必须同意用户协议才能注册');
      }
      
      //请求接口
      admin.req({
        url: 'http://localhost:8080/web/githubBinding' //实际使用请改成服务端真实接口
        ,data: field
        ,done: function(res){        
          layer.msg('绑定成功', {
            offset: '15px'
            ,icon: 1
            ,time: 2000
          }, function(){
            location.href = './index.html';//跳转到主页
          });
        }
      });

    });
  });
  </script>
</body>
</html>